* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#cart {
  display: flex;
  flex-direction: row;
}

.shoppingcartitems {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}

#carttotal {
  padding: 5%;
  border: 1px solid gray;
  margin: 5px;
}

.itemimages {
  width: 60%; 
  height: 70%;
}

#all-books {
  display: flex;
}

#all-books-sidebar {
  border: 1px solid black;
  position: relative;
}

#all-books-sidebar ul {
  list-style: none;
  position: absolute;
  left: -28px;
  top: 46px;
}

#all-books-stream {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.all-books-book-info {
  display: flex;
  margin: 10px;
}

.all-books-book-info button {
  /* flex-direction: column; */
}

.all-books-book-block {
  margin: 5px;
}



