* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #4c1c1c;
  color: #d2c7c7;
  text-shadow: 2px 2px 2px black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

a {
  color: white;
}

a:hover {
  color: #b77070;
}

form div {
  margin: 1em;
  display: inline-block;
}

#cart {
  display: flex;
  flex-direction: row;
}

.shoppingcartitems {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 80%;
  background: linear-gradient(45deg, #dcc3c3, #922a2a);
  border-radius: 10px;
  margin: 35px;
  position: relative;
}

.item-info {
  display: flex;
}

.cart-item-price {
  position: absolute;
  top: 5%;
  left: 85%;
}

#carttotal {
  padding: 5%;
  border: 1px solid gray;
  margin: 5px;
}

.qtybox {
  width: 30px;
}

#all-books {
  display: flex;
}

#all-books-sidebar {
  border: 1px solid black;
  position: fixed;
  height: 215px;
  background-color: #b77070;
  left: 80%;
  top: 40%;
  box-shadow: 0px 1px 1px black;
}

#all-books-sidebar ul {
  list-style: none;
  position: absolute;
  text-align: center;
  left: -12px;
  top: 79px;
}

#all-books-stream {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.all-books-book-info {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid gray;
  background: linear-gradient(45deg, #dcc3c3, #922a2a);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.all-books-book-info button {
  /* flex-direction: column; */
}

.all-books-book-block {
  margin: 5px;
}

.all-books-book-info-buttons {
  position: absolute;
  top: 77%;
  left: 70%;
}

.form-field {
  border: none;
  border-bottom: 1px solid gray;
  background-color: #b2dbff;
  color: black;  
}

button {
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  box-shadow: 0px 1px 1px black;  
  color: white;
  text-shadow: 1px 1px 1px black;
}

.edit-button {
  background-color: #e0dcc2;
}

.delete-button {
  background-color: #b77070;
}

#add-book-button {
  background-color: #7276f1;
}

#search-bar {
  margin: 10px;
  height: 30px;
  box-shadow: 0px 1px 1px black;
}

#genre-head {
  text-align: center;
}
